<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Homepage <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/createPatientProfile">Profile Creator</a>
            <a class="nav-item nav-link active" href="/viewpatientList/1">Citizen Register</a>
            <!-- <a class="nav-item nav-link" href="/modifyMedRecord">Record Modifier</a> -->
            <!-- <a class="nav-item nav-link" href="/createMedRecord">Create Med Record</a> -->
            <a class="nav-item nav-link active" href="/user_login">Admin</a>
        </div>
    </div>
</nav>