</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <p>Creating a patient med profile.</p>
            <%- include('./paritals/head.partial.ejs'); -%>