<link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <div class="container" id="home">
                health care
            </div>
            <%- include('./paritals/head.partial.ejs'); -%>