<link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <div class="container" id="home">
                <h1 class="title">Citizener</h1>

                <p class="text-center">
                    Over recent years, electronic national ID cards (aka eID cards) have been introduced in numerous countries around the world. Furthermore, they are being utilized with ever-growing enthusiasm by their citizens. But in countries yet to adopt such microprocessor-based
                    smart card technology, serious concerns are still voiced.
                </p>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="./img/pill.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Track Citizens</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="./img/analytics.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Update Citizen Status</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="./img/lock.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Analyse Population Behavior</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./paritals/footer.partial.ejs'); -%>