</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <div id="home-container" class="container">
                <div class="row">
                    <div class="col-12 offset-md-8 col-md-4">
                        Med Login Form.
                    </div>
                </div>
            </div>
            <%- include('./paritals/footer.partial.ejs'); -%>