</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <p>Modify med record.</p>
            <%- include('./paritals/footer.partial.ejs'); -%>