</head>

<body>
    <%- include('./paritals/head.partial.ejs'); -%>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <p>View med records</p>
            <%- include('./paritals/head.partial.ejs'); -%>