/* General Styles */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap');
body {}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

h1,
h2,
h3 {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}


/* Custom Elements */

#patientForm {
    background-color: #f5f6fa;
    padding-top: 1vh;
    opacity: 0.95;
    max-height: 90vh;
    overflow-y: auto;
}

#patientList {
    padding-top: 1vh;
    opacity: 0.95;
    height: 90vh;
    overflow-y: auto;
}

#recordviewer {
    background-color: #f5f6fa;
    border: 1px solid #dcdde1;
    border-radius: 5px;
    height: 88vh;
    margin-top: 2vh;
    overflow-y: auto;
}

.patientListItem {
    background-color: #f5f6fa;
    border: 1px solid #eef4ff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    min-height: 45px;
    max-height: 45px;
}

nav {
    margin-bottom: 20px;
}

.search {
    margin-top: 25vh;
    height: 40vh;
}